section .content-wrapper .body .industry-alerts {
  border: none;
}
section .content-wrapper .body .alerts-classification {
  margin-bottom: 30px;
}
section .content-wrapper .body .alerts-classification .all {
  margin-left: 20px;
}
section .content-wrapper .body .alerts-classification .select {
  display: inline-block;
  width: 70px;
  height: 24px;
  line-height: 24px;
  border-radius: 10px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border-color: #e4e4e4;
}
section .content-wrapper .body .alerts-classification .select .dropdown {
  height: 0;
  min-width: 70px;
  max-height: 274px;
  background-color: #fff;
  position: absolute;
  z-index: 20;
  border: 1px solid #E4E7ED;
  margin-top: 12px;
  border-radius: 4px;
}
section .content-wrapper .body .alerts-classification .select .dropdown .arrow {
  position: absolute;
  width: 0;
  height: 0;
  /* 设置四个方向的边框 */
  border: 6px solid transparent;
  /* 去除上边框 */
  border-top: none;
  /* 设置下边框颜色 */
  border-bottom-color: #E4E7ED;
  top: -6px;
  left: -30px;
  right: 0;
  margin: auto;
}
section .content-wrapper .body .alerts-classification .select .dropdown .arrow:after {
  border-color: transparent;
}
section .content-wrapper .body .alerts-classification .select .dropdown .arrow:after {
  position: absolute;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-bottom-color: #fff;
  border-top-width: 0;
  top: 1px;
  left: -6px;
}
section .content-wrapper .body .alerts-classification .select .dropdown .dropdown-menus {
  min-width: 70px;
  max-height: 274px;
  height: 100%;
  overflow: scroll;
}
section .content-wrapper .body .alerts-classification .select .dropdown .dropdown-menus .dropdown-list {
  padding: 6px 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section .content-wrapper .body .alerts-classification .select .dropdown .dropdown-menus .dropdown-list .active {
  background-color: #F5F7FA;
}
section .content-wrapper .body .alerts-classification .select .dropdown .dropdown-menus .dropdown-list li {
  font-size: 14px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606266;
  height: 34px;
  line-height: 34px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
section .content-wrapper .body .alerts-classification > div {
  border: 1px solid #e4e4e4;
}
section .content-wrapper .body .industry-alerts-wrapper {
  padding-left: 10px;
}
section .content-wrapper .body .industry-alerts-wrapper .media {
  margin-bottom: 20px;
  height: 110px;
}
section .content-wrapper .body .industry-alerts-wrapper .media .media-img {
  width: 40%;
  height: 110px;
  overflow: hidden;
  position: relative;
  padding-right: 0px;
}
section .content-wrapper .body .industry-alerts-wrapper .media .media-img img {
  width: 100%;
  height: 110px;
}
section .content-wrapper .body .industry-alerts-wrapper .media .media-text {
  padding: 0px 15px;
}
section .content-wrapper .body .industry-alerts-wrapper .media .media-text .media-heading {
  color: #666;
  font-weight: 700;
  height: 70px;
  font-size: 18px;
  text-align: left;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: 'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑', '苹方', sans-serif;
}
section .content-wrapper .body .industry-alerts-wrapper .media .media-text .media-time {
  height: 35px;
  line-height: 35px;
  color: #cccccc;
}
section .content-wrapper .body .foot-link {
  height: 35px;
  margin: 20px auto;
}
section .content-wrapper .body .foot-link .all {
  height: 35px;
  width: 120px;
  color: #EBAD3A;
  line-height: 35px;
  text-align: center;
  border-radius: 60px;
  margin: 0px auto;
  border: 3px solid #EBAD3A;
}
section .content-wrapper .body .foot-link .all a {
  display: block;
  height: 29px;
  line-height: 29px;
  color: #EBAD3A;
  font-size: 16px;
}
/*# sourceMappingURL=industry-alerts-mobile.css.map */